<ion-header>
  <ion-toolbar color="azulclaro">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Calculadoras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let medicamento of Medicamentos | order:'Medicamento'">
      <ion-label (click)="irParaCalculadora(medicamento.Medicamento)">{{medicamento.Medicamento |  titlecase}}</ion-label>
      <ion-icon name="star-outline" color="amarelo" (click)="favoritar(medicamento)" *ngIf="!medicamento?.Favorito"></ion-icon>
      <ion-icon name="star" color="amarelo" (click)="favoritar(medicamento)" *ngIf="medicamento?.Favorito"></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>