<ion-app>
  <app-load-panel *ngIf="loadPanel"></app-load-panel>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-toolbar color="branco">
        <ion-thumbnail slot="start">
          <ion-img src="../assets/img/cubo.png"></ion-img>
        </ion-thumbnail>
        <!-- <ion-icon slot="start" name="person-outline" style="font-size: 30px;padding-top: 5px;"></ion-icon>-->
        <ion-label class="ml-3" color="azul">{{user.Email}}</ion-label>
      </ion-toolbar>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages | order:'Ordenacao'; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.Rota]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>{{ p.Titulo }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" >
            <ion-item routerDirection="root" (click)="sair()" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" name="cube-outline"></ion-icon>
              <ion-label>Sair</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>